body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.yellow-h1{
    color: darkorange;
}
.yellow-h1:hover{
    color: red;
}
#first{
    padding-left: 10%;
    padding-right: 10%;
    height: 550px;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.welcome-text{
    width: 50%;
    float: left;
}
.welcome-text h1{
    font-size: 50px;
}
.welcome-text h3{
    color: #FFAC2C;
}
.welcome-text p{
    color: gray;
    margin-bottom: 40px;
}
.hire-me{ 
    padding: 10px;
    background-image: linear-gradient(90deg,tomato,red);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.hire-me:hover{
    background-image: linear-gradient(90deg,red,tomato);
    border-radius: 15px;
}
.pro-pic{
    margin-left: 10%;
    width: 38%;
    width: 38%;
    transition-delay: 0.1s;
    transition-duration: 2s;
}
#sec{
    width: 100%;
    height: 500px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.pro-pic2{
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    float: left;
    transition-delay: 0.1s;
    transition-duration: 5s;
}
.pro-pic2 img{
    width: 100%;
}
.sec-text{
    width: 40%;
    height: 100%;
    float: left;
}
.sec-text h1{
    color: orangered;
    font-size: 50px;
}
.sec-text h3{
    color: #FFAC2C;
}
.sec-text h1:hover{
    color: red;
}
.sec-text p{
    color: gray;
}
#third{
    width: 100%;
    height: 500px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#third h1{
    font-size: 50px;
    text-align: center;

}
.card{
    background-color: white;
    width: 44%;
    margin-left: 3%;
    padding-left: 10px;
    height: 350px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid ;
    border-image: linear-gradient(0deg,orange,red);
    border-image-slice: 1;
    border-radius: 10px;
    float: left;
    transition: 1s;
}
.card h1{
    font-size: 40px !important;
    text-align: left !important;
}
.card h3{
    color: #FFAC2C;
}
.card p{
    color: gray;
}
.card:hover{
    position: relative;
    top: -30px;
    
}
.blue{
    border-left: 10px solid !important;
    border-image: linear-gradient(0deg,cyan,blue) !important;
    border-image-slice: 1 !important;
}
footer{
    margin-top: 40px;
    text-align: center;
    color: gray;
}
